<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }} | {{ siteTitle }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <a href="index.php"><span class="site-title">{{ siteTitle }}</span></a>
        <nav>
            <ul>
                <li><a href="index.php">Om</a></li>
                <li><a href="report.php">Redovisning</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Olof Jönsson - oljn22</p>
    </footer>
</body>
</html>
