table {
    width: 100%;
    box-shadow: var(--shadow-light-big);
    border-radius: 10px;
    margin-bottom: var(--baseline);
    border-collapse: collapse;
    overflow: hidden;
    margin-bottom: var(--baseline-x2);
}


th, td {
    text-align: left;
    padding: var(--baseline-half);
}

th {
    text-transform: uppercase;
    color: var(--col-table-header);
    background-color: var(--bgcol-table-header);
}

tr:nth-child(even){
    background-color: var(--bgcol-table-body-shade-1)
}

tbody tr:hover {
    background-color: var(--bgcol-table-body-shade-2);
    cursor: default;
}

.space-between {
    display: flex;
    justify-content: space-between;
}