@import url('variables.css');

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html,
body {
    min-height: 100vh;
}

body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    color: var(--col-font);
    background-color: var(--col-bg);
    font-family: var(--font-main);
    font-weight: 400;
}

header {
    width: 100%;
    min-height: var(--baseline-x4);
    flex: 0 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: var(--baseline-half) var(--baseline-x2);
    border-bottom: 3px solid var(--col-accent);
    /* background-color: var(--bg-color-header); */
    /* color: var(--color-header);     */
}

.site-title {
    margin-right: var(--baseline);
    color: var(--col-accent);
    font-size: var(--font-size-1-d);
    font-weight: 700;
}

nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0;
        margin: 0;
    }

    a {
        font-size: var(--font-size-3-d);
        font-weight: 600;
        text-transform: lowercase;
        text-decoration: none;
        display: block;
        padding: 0 var(--baseline);
    }

    li:first-of-type a {
        padding-left: 0;
    }

    li:last-of-type a {
        padding-right: 0;
    }
}

main {
    width: 100%;
    flex: 1 0 auto;
    padding: var(--baseline-x2);

    max-width: 700px;
    margin: 0 auto;
}

footer {
    width: 100%;
    min-height: var(--baseline-x4);
    flex: 0 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--col-accent);
    font-size: var(--font-size-4-d);
    text-transform: lowercase;
    padding: var(--baseline-half) var(--baseline-x2);
    border-top: 3px solid var(--col-accent);
    /* background-color: var(--bg-color-footer; */

    /* color: var(--color-footer; */
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    text-transform: lowercase;
}

h1 {
    font-size: var(--font-size-1-d);
}

h2 {
    font-size: var(--font-size-2-d);
}

h3 {
    font-size: var(--font-size-3-d);
}

h4 {
    font-size: var(--font-size-4-d);
}

a {
    color: var(--col-accent);
}

